<li class="foodpost">
  <span class="date"><%= foodpost.date.strftime("%a %m/%e") %>
  @
  <span class="time"><%= foodpost.start_time.localtime.strftime("%l:%M %p") %></span>
  <span class="location"><%= foodpost.location %></span>
  <span class="content"><%= foodpost.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(foodpost.created_at) %> ago.
  </span>
  <% if current_user?(foodpost.user) %>
    <%= link_to "delete", foodpost, method: :delete,
                                    data: { confirm: "You sure?" },
                                    title: foodpost.content %>
  <% end %>
</li>
