<%= form_for(@foodpost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field" id="new-post">
    Details
    <%= f.text_area :content, placeholder: "Compose new foodpost...",
                    :class => 'content' %>
    When
    <%= f.text_field :date, :class => 'datepicker' %>
    <%= f.time_field :start_time, :ampm => true, :minute_step => 30 %>
    </br>Where
    <%= f.text_field :location, placeholder: " ex: Rickets 201", 
                     :class => 'location' %>
    <%= f.submit "Post", class: "btn btn-large btn-primary" %>
  </div>
<% end %>
